<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><h5>Hello @ViewBag.Username</h5></li>
                <li><a class="sitename" href="@Url.Action("Logout", "Login")">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

